.header{
    height: 400px;
    background: url("/assets/images/wall3.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: brown;
}
.overlay{
    width: 100%;
    height: 100%;
    
    top: 0;
    left: 0;
    background: rgba(28,28,28,0.5);
    z-index: -1;
}
.overlay .inner-wrap{
    padding-top: 10%;
}
.overlay .inner-wrap h1, .overlay .inner-wrap h2{
    color: honeydew !important;
    font-family: 'Titillium Web', sans-serif;

}
.overlay .inner-wrap h2{
    font-family: 'Roboto Slab', serif !important;
}
.topquot .word-style{
   line-height: 1.5em;
   color: #333
}
.topquot .h3{
    font-family:'Ubuntu', sans-serif;
    font-size: 28px;
    letter-spacing:.1em;
    
}
.topquot .h5{
    font-size:20px;
    font-family: 'Titillium Web', sans-serif;
}
.topquot .high-light{
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}
.bestSells{
    background: #efefef;
}
.bestSells .hover{
    transition-duration:500ms; 
}
.bestSells .hover:hover{
    box-shadow: 5px 10px 18px #888888 !important;
}
.bestSells .manual-card {
    padding: 10px;
    line-height: .1em
}
.bestSells .manual-card h5{
    margin: 0px;
    margin-bottom: 5px;
    font-family:'Roboto Mono', monospace; 
} 
.bestSells .manual-card p{
    line-height: 20px;
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
} 