<div>
  <div class="header">
     <div class="overlay">
       <div class ="inner-wrap text-center">
          <h2>Underground Printing</h2>
          <h1 class="title">We Print Custom <span class="no-wrap">T-Shirts &amp; More</span></h1>
       </div>
        </div>
     <div></div>
  </div>
  <div class="card-plan topquot text-center">
    <div class="card-body">
        <h3 class="word-style h3">WHAT OUR CUSTOMERS ARE SAYING:</h3>
        <h5 class="word-style h5">"Outstanding staff. High quality product. Delivered as promised."</h5>
        <h3 class="word-style h3 high-light"> 100% SATISFACTION GUARANTEED</h3>
    </div>
     
  </div>
    <div class="card-plan bestSells">
      <div class="card-body">
          <h4 class="card-title text-center">Our Premium Collection</h4>
          <div class="row" >
            <div class="col-md-3" *ngFor="let tshirt of tshirts">
              <div class="card hover">
                <img [src]="tshirt.src" class="card-img-top" alt="sample t shirt">
                <div class="card-body manual-card">
                    <h5 class="card-title">{{tshirt.name}}</h5>
                    <p class="card-text">{{tshirt.discription}}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted"><b style="font-family:'Roboto Mono', monospace;">Price: </b>{{tshirt.price}}</small>
                </div>
              </div>
            </div>             
          </div>
          
      </div>
    </div>
    <div class="card-plan">
      <div class="card-body">
        <h4 style="color: palevioletred">Variety Of Choices</h4><hr>
        <div class="row">
          <div class="col-md-4 my-1">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-5">
                      
                  </div>
                  <div class="col-md-7">
                    <h5 class="card-content">Child Shirt</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 my-1">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-5">
                        <i class="fa fa-address-card-o fa-lg mt-2"></i>
                    </div>
                    <div class="col-md-7">
                      <h5 class="card-content">Child Shirt</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 my-1">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-5">
                          <i class="fa fa-address-card-o fa-lg mt-2"></i>
                      </div>
                      <div class="col-md-7">
                        <h5 class="card-content">Child Shirt</h5>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-gutter">
                  <div class="card">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-5">
                            <i class="fa fa-address-card-o fa-lg mt-2"></i>
                        </div>
                        <div class="col-md-7">
                          <h5 class="card-content">Child Shirt</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 my-1">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-5">
                      <i class="fa fa-address-card-o fa-lg mt-2"></i>
                  </div>
                  <div class="col-md-7">
                    <h5 class="card-content">Child Shirt</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 my-1">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-5">
                        <i class="fa fa-address-card-o fa-lg mt-2"></i>
                    </div>
                    <div class="col-md-7">
                      <h5 class="card-content">Child Shirt</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
  